#title{
	background-color:#ecfbfc;
}

.colrow{
	background-color:#010a43; 
	border:solid 2px;
}

.hr1{
size:1px;
color:blue;
}
h3{
	width:auto;
}

.colrow:hover{
	background-color:yellow;
	font-size: 25px;
}

.placement-list:hover{
	color:black;
	font-size:20px;
	text-decoration:underline;
}
.placement-list{
color:red;
}

.placement{
	text-align:center;
	background-color:cyan;
}
.fcont:hover{
	text-decoration:underline;
color:magenta;}

.fcont{
color:#2c003e;}

.notice{
	color:magenta;
font-size:20px;}




.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
	